@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[x-cloak] {
    display: none !important;
}

/*colori portale admin*/
@layer base {
    :root {
        --color-background: 220 30% 90%; /* grigio molto chiaro */
        --color-sidebar: 220 56% 95%; /* bianco sporco */
        --color-surface: 0 0% 100%; /* bianco per card */
        --color-foreground: 210 80% 9%; /* testo grigio scuro, no nero */
        --color-muted: 220 15% 75%; /* separatori / bordi */
    }

    .dark {
        --color-background: 220 12% 18%; /* antracite profondo */
        --color-sidebar: 220 10% 22%; /* grigio antracite medio */
        --color-surface: 220 10% 26%; /* grafite per card */
        --color-foreground: 220 15% 85%; /* testo chiaro, no bianco */
        --color-muted: 220 8% 40%; /* bordi scuri ma leggibili */
    }
}
/*fine colori portale admin*/

.emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
        sans-serif;
}
